<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/01.jpg"
	thumbURL="images/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/02.jpg"
	thumbURL="images/02.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/03.jpg"
	thumbURL="images/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/04.jpg"
	thumbURL="images/04.jpg">
  </image>
  <image imageURL="images/05.jpg"
	thumbURL="images/05.jpg"
	linkURL="images/05.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/06.jpg"
	thumbURL="images/06.jpg">
  </image>
  <image imageURL="images/07.jpg"
	thumbURL="images/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/08.jpg"
	thumbURL="images/08.jpg">
	</image>

</juiceboxgallery>
