<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Juicebox Lite Gallery"
>
  <image imageURL="images/3130.jpg"
	thumbURL="images/3130.jpg"
	linkURL="images/wide.jpeg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/3133.jpg"
	thumbURL="images/3133.jpg">
  </image>
  <image imageURL="images/3136.jpg"
	thumbURL="images/3136.jpg"
	linkURL="images/wide.jpeg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/3143.jpg"
	thumbURL="images/3143.jpg">
  </image>
  <image imageURL="images/3161.jpg"
	thumbURL="images/3161.jpg"
	linkURL="images/wide.jpeg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/3171.jpg"
	thumbURL="images/3171.jpg">
  </image>
  <image imageURL="images/3173.jpg"
	thumbURL="images/3173.jpg"
	linkURL="images/wide.jpeg"
	linkTarget="_blank">
  </image>
  <image imageURL="images/3190.jpg"
	thumbURL="images/3190.jpg">
	</image>

</juiceboxgallery>
